#CodeMirror {
    font-size: 14px;
    line-height: 1.6;
    padding-top: 10px;
    /* overflow: auto; */
    /* height: 75%; */
    height: 100% !important;
    max-height: 100%;
    width: 100% !important;
  }